#section1{
    position: relative;
    height: 50vw;
}

#section1:hover > div{
    left: 90%;    
}


.transition1{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    transition: all 4s ease-in-out;
    left: 0;
}

.transition2{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    transition: all 3s 1s ease-in-out;
    left: 0;
    transform: translateY(110px);
}

